{% extends "base.html" %}
{% load static %}

{% block title %}
    Contact Us | Bazixo
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block content %}

    <!-- Contact Form Section -->
    <section id="contact-form" class="py-5"> 
        <div class="container">
            <h2 class="text-center mb-4">Contact Us</h2>
            <form method="POST" class="mx-auto" style="max-width: 900px;">
                {% csrf_token %}
                {{ error }}
                <!-- Full Name Field -->
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name *</label>
                    <input
                        type="text"
                        class="form-control contact-name"
                        id="fullName"
                        name="full_name"
                        placeholder="Enter your full name"
                        required
                    />
                </div>

                <!-- Email Field -->
                <div class="mb-3">
                    <label for="emailAddress" class="form-label">Email *</label>
                    <input
                        type="email"
                        class="form-control contact-email"
                        id="emailAddress"
                        name="email"
                        placeholder="Enter your email"
                        required
                    />
                </div>

                <!-- Message Field -->
                <div class="mb-3">
                    <label for="message" class="form-label">Message *</label>
                    <textarea
                        class="form-control contact-message"
                        id="message"
                        name="message"
                        rows="5"
                        placeholder="Type your message here"
                        required
                    ></textarea>
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button
                        type="submit"
                        class="btn btn-primary px-5 py-2 mt-3 custom-submit-btn"
                    >
                        Submit →
                    </button>
                </div>
            </form>
        </div>
    </section>


{% endblock %}
