:root {
    --primary-color: #3d4242;
    --secondary-color: #FFFFFF;
    --accent-color: #FF9800;
    --hover-color: #FFC247;
    --text-light: #FFFFFF;
    --text-dark: #333333;
    --shadow-color: rgba(0, 0, 0, 0.4);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

::selection {
    background-color: var(--hover-color); 
    color: white; 
}

.container-box {
    box-shadow: 0 8px 16px var(--shadow-color);
    border-radius: 10px;
    overflow: hidden;
    max-width: 750px;
    width: 100%;
    max-height: 550px;
    display: flex;
    background-color: var(--secondary-color);
    opacity: 0;
    transform: scale(0.9);
    animation: fadeInScale 0.3s forwards;
}

@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.image-box {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    text-align: center;
}

.image-box img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.form-box {
    width: 50%;
    padding: 30px;
    background-color: var(--secondary-color);
}

h3 {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.btn-login {
    background-color: var(--accent-color);
    color: white;
}

.btn-login:hover {
    background-color: var(--hover-color);
}

.error {
    color: white;
    background-color: #d9534f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--hover-color);
    text-decoration: none;
}

input:focus {
    border-color: var(--accent-color) !important;
    box-shadow: 0 0 5px var(--hover-color) !important;
}

/* Hide the image-box on small devices */
@media (max-width: 768px) {
    .container-box {
        flex-direction: column;
        max-height: none;
        width: 90%;
        margin: 20px 0;
    }

    .image-box {
        display: none; /* Hide image box on small devices */
    }

    .form-box {
        width: 100%;
    }
}
