{% extends "base2.html" %}
{% load static %}

{% block title %}
    Change Password | Cartobuz
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/authentication/change_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container-box">
        <div class="image-box">
            <img src="reset-password.webp" alt="Reset Password" loading="fast">
        </div>
        <div class="form-box">
            <h2>Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {% if error %}
                    <p class="message error">{{ error }}</p>
                {% endif %}

                {% if success %}
                    <p class="message success">{{ success }}</p>
                    <script>
                        setTimeout(function() {
                            window.location.href = "{% url 'login' %}";
                        }, 1000); // Redirect after 1 second
                    </script>
                {% endif %}

                <div class="form-group">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your new password" required>
                </div>
                <div class="form-group">
                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                    <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm your new password" required>
                </div>
                <button type="submit" class="btn btn-changepassword btn-block">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}