{% extends "base2.html" %}
{% load static %}

{% block title %}
    Forget Password | Cartobuz
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/authentication/forget_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container-box">
        <div class="image-box">
            <img src="reset-password.webp" alt="Reset Password" loading="fast">
        </div>
        <div class="form-box">
            <h2>Reset Your Password</h2>
            <p>Enter your registered email address to receive a OTP for resetting your password.</p>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address" required>
                </div>
                <button type="submit" class="btn btn-sendemail btn-block">Send OTP</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}" target="_self">Back to Login</a>
            </div>
        </div>
    </div>

{% endblock %}