{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/authentication/forget_password.css' %}">

</head>
<body>
    <div class="container-box">
        <div class="image-box">
            <img src="reset-password.webp" alt="Reset Password" loading="fast">
        </div>
        <div class="form-box">
            <h3>Reset Your Password</h3>
            <p>Enter your registered email address to receive a OTP for resetting your password.</p>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address" required>
                </div>
                <button type="submit" class="btn btn-sendemail btn-block">Send OTP</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}" target="_self">Back to Login</a>
            </div>
        </div>
    </div>
</body>
</html>
