{% extends "base2.html" %}
{% load static %}

{% block title %}
    Login | Cartobuz
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/authentication/login.css' %}">
{% endblock %}

{% block content %}

<div class="container-box">
        <div class="image-box">
            <img src="images.jpeg" alt="Login" loading="fast">
        </div>
        <div class="form-box">
            <h2>Login Here!</h2>
            <form method="post">
                {% csrf_token %}
                
                {% if error %}
                    <p class="error">{{ error }}</p>
                {% endif %}

                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>
                </div>
                <div class="text-right mb-3">
                    <a href="{% url 'forget_password' %}">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-login btn-block">Login</button>
            </form>
            <div class="text-center mt-3">
                Don’t have an account? <a href="{% url 'signup' %}" target="_self">Sign Up</a>
            </div>
        </div>
    </div>
    {% endblock %}

